# Python Cient√≠fico | Parte I / Sesi√≥n 1

Alan Badillo Salas

Ciudad de M√©xico, 21 de junio de 2025

## Contenido

1. Valores, Variables y Tipos de datos
2. Expresiones L√≥gicas y Artim√©ticas
3. Sentencias, Bloques y Estructuras de Control
4. Colecciones: Listas, Tuplas y Diccionarios
5. Funciones: Sin par√°metros y con par√°metros

## 1. Valores, Variables y Tipos de datos

Tipo | Nombre | Ejemplo de Valores
---- | ------ | ------------------
N√∫mero Entero | `int` | `1`, `123`, `1990`
N√∫mero Decimal | `float` | `1.0`, `123.456`, `3.14159256`
Texto | `str` | `"Hola mundo"`, `'Hola python'`, `f"Hola {nombre}"`
L√≥gico | `bool` | `True`, `False`
Nulo | `None` | `None`

> Ejemplo: Datos de un producto

In [1]:
nombre = "Coca-Cola (600ml)"
precio = 23.5
caducidad = "2026/02/25"
sku = "07123456789"
existencias = 234
dietetico = False

### Textos con formato

> Sintaxis: Contruir un texto con formato

```python
f"Texto antes ... {valor} ... texto despu√©s {otro_valor} ..."
```

> Sintaxis: Configurar un formato

```python
f"... {valor:formato} ..."
```

Tipo | Formato | Ejemplo
---- | ------- | -------
N√∫mero Entero | {valor:[n]d} | `"{edad:4d}" -> "__23"`
N√∫mero Entero | {valor:0[n]d} | `"{edad:04d}" -> "0023"`
N√∫mero Decimal | {valor:[n].[m]f} | `"{peso:6.2f}" -> " 45.50"`
N√∫mero Decimal | {valor:0[n].[m]f} | `"{peso:06.2f}" -> "045.50"`
Texto | {valor:>[n]s} | `"{nombre:>10s}" -> "_______Ana"`
Texto | {valor:<[n]s} | `"{nombre:<10s}" -> "Ana_______"`
Texto | {valor:^[n]s} | `"{nombre:^10s}" -> "____Ana___"`

> Ejemplo: Imprimir un texto fijo con emoticones

In [11]:
print("Hola python üêç")

Hola python üêç

In [12]:
print("Hola mundo üåé")

Hola mundo üåé

> Ejemplo: Mostrar el valor de la varible nombre

In [13]:
nombre

'Coca-Cola (600ml)'

> Ejemplo: Un texto con formato del nombre

In [14]:
print(f"Producto: {nombre}")

Producto: Coca-Cola (600ml)

> Ejemplo: Mostrar el valor de la variable precio

In [15]:
precio

23.5

> Ejemplo: Un texto con para formatear el precio

In [16]:
print(f"Precio: {precio}")

Precio: 23.5

> Ejemplo: Un texto con formato de n√∫meros decimales

In [19]:
print(f"Precio: ‚Ç¨{precio:6.2f}")

Precio: ‚Ç¨ 23.50

> Ejemplo: Un texto en m√∫ltiples l√≠neas

In [21]:
print("""

Hola alumnos,

La clase hoy no podr√© asistir.

Saludos cordiales.

Atentamente
Su profesor

""")

Hola alumnos,

La clase hoy no podr√© asistir.

Saludos cordiales.

Atentamente
Su profesor

> Ejemplo: Un reporte en m√∫ltiples l√≠neas

In [24]:
print(f"""

Producto: {nombre}

----------------------------------------------

Precio: $ {precio:8.2f}
Existencias: {existencias} unidades

----------------------------------------------

Caducidad: {caducidad}

Diet√©tico: {dietetico}

SKU: {sku}

----------------------------------------------

""")

Producto: Coca-Cola (600ml)

----------------------------------------------

Precio: $    23.50
Existencias: 234 unidades

----------------------------------------------

Caducidad: 2026/02/25

Diet√©tico: False

SKU: 07123456789

----------------------------------------------

In [62]:
print(f"""

Producto: {nombre:>36s}

----------------------------------------------

Precio:                    $ {precio:8.2f}
Existencias: {existencias:24d} unidades

----------------------------------------------

Caducidad: {caducidad:>35s}

Diet√©tico: {['‚ùå', '‚úÖ'][dietetico]:>34s}

SKU: {sku:>41s}

----------------------------------------------

""")

Producto:                    Coca-Cola (600ml)

----------------------------------------------

Precio:                    $    23.50
Existencias:                      234 unidades

----------------------------------------------

Caducidad:                          2026/02/25

Diet√©tico:                                  ‚ùå

SKU:                               07123456789

----------------------------------------------

### Ejercicio 1 - Modelado de Datos

Genera las variables necesarias para modelar los datos de una persona y genera un reporte en m√∫ltiples l√≠neas, considerando cada tipo de dato para cada variable.

Por ejemplo, nombre, edad, g√©nero, nacionalidad, estatura, peso, etc.

**Avanzado:** Guarda las nacionalidades y el √≠cono de su bandera en un diccionario y muestra la bandera en el reporte en lugar de nacionalidad (o ambas).

## 2. Expresiones L√≥gicas y Artim√©ticas

* Una expresi√≥n se entiende por un c√°lculo/c√≥mputo derivado de operaciones compuestas por operadores y operandos
* Si el resultado de la operaci√≥n o expresi√≥n es l√≥gico, entonces ser√° una sentencia de tipo predicado
* Si el resultado de la operaci√≥n o expresi√≥n es num√©rica, entonces ser√° una sentencia de tipo aritm√©tica

Operaciones L√≥gicas

Operador | Sentido | Ejemplo
-------- | ------- | -------
`and` | Conjunci√≥n (y) | `es_rojo and es_viernes`
`or` | Disyunci√≥n (o) | `es_rojo or es viernes`
`not` | Negaci√≥n (no) | `not es_rojo`
`>` | Mayor estricto | `x > 20`, `y > 50`
`>=` | Mayo o igual | `x >= 0`, `y >= 100`
`<` | Menor estrictor | `edad < 18`, `peso < 60.0`
`<= ` | Menor o igual | `edad <= 18`, `peso <= 60.0`
`==` | Id√©ntico o igual | `edad == 18`, `peso == 60.0`
`!=` | Distinto o no-igual | `edad != 18`, `peso != 60.0`

> Ejemplo: Una expresi√≥n l√≥gica o predicado

In [63]:
edad = 45 # Creaci√≥n o asignaci√≥n de la variable

edad > 18

True

In [64]:
edad <= 40

False

In [65]:
edad == 45

True

In [66]:
edad != 45

False

> Ejemplo: Determinar el cuadrante de un punto $(x, y)$

In [ ]:
x = 50
y = 85

Primer cuadrante (I)

In [67]:
x > 0 and y > 0

True

Segundo cuadrante (II)

In [68]:
x < 0 and y > 0

False

Tercer cuadrante (III)

In [69]:
x < 0 and y < 0

False

Cuarto cuadrante (IV)

In [70]:
x > 0 and y < 0

False

### Capturar valores desde el usuario

El usuario puede ingresar valores y esos valores de texto los podemos convertir seg√∫n el tipo datos que esperamos.

Conversiones de valores:

* N√∫mero enteros: `int( ... )`
* N√∫mero decimales: `float( ... )`
* Texto: `str( ... )`
* Valores L√≥gicos: `bool( ... )`

Entonces, para capturar un valor usamos:

```python
valor = int( input(mensaje) )
```

In [81]:
x = float( input("Dame x: ") )
y = float( input("Dame y: ") )

print(f"""

(x, y) = ({x}, {y})

Cuadrante I: {x > 0 and y > 0}
Cuadrante II: {x < 0 and y > 0}
Cuadrante III: {x < 0 and y < 0}
Cuadrante IV: {x > 0 and y < 0}

""")

Dame x: -5
Dame y: 2


(x, y) = (-5.0, 2.0)

Cuadrante I: False
Cuadrante II: True
Cuadrante III: False
Cuadrante IV: False

Operaciones artim√©ticas

Operador | Sentido | Ejemplos
-------- | ------- | --------
`+` | Suma | `x + y`, `2 + 2`, `edad + 80`
`-` | Resta | `x - y`, `2 - 2`. `edad - 5`
`*` | Producto | `x * y`, `2 * 2`, `edad * 3`
`/` | Divisi√≥n | `x / y`, `2 / 2`, `1 / edad`
`**` | Exponente | `x ** y`, `2 ** 2`, `edad ** 2`
`%` | M√≥dulo | `x % y`, `2 % 2`, `edad % 3`

> Ejemplo: Calcular el cuadrado de la suma de dos n√∫mero

$$
(x + y)^2
$$

In [ ]:
x = float( input("x: ") )
y = float( input("y: ") )

(x + y) ** 2